:root{
	--font1: 'Inter', sans-serif;
	--font2: 'Chakra Petch', sans-serif;

	--blue: #74B0BF;
	--yellow: #fbe33c;
	--white:#fafafa;
	--black: #000000;
	--mintgreen: #75c9b7;

	--lightgray: #f1f1f1;
	--gray: #8a9597;
}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: var(--font1);
}

a{
	text-decoration: none;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	margin: 0 auto;
}

.navbar{
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
	background-color: var(--blue);
}

.navbar-container{
	width: 100%;
	max-width: 69.375rem;
	height: 5.625rem;
	align-items: center;
	justify-content: center;
	display: flex;
	position: relative;
	margin: 0 auto;
}

button{
	border: none;
	background: none;
	cursor: pointer;
}


.navbar-btn-menu{
	position: absolute;
	left: 2.5rem;
	cursor: pointer;
}


.logo{
	font-family: var(--font2);
	font-size: 2em;
	font-weight: 700;
	color: var(--white);
}

.nav-list{
	display: none;
}

.nav-list li{
	list-style: none;
}

.nav-list-item{
	display: flex;
	justify-content: center;
	color: var(--white);
	font-size: 0.8125rem;
	line-height: 1.5rem;
	font-weight: 700;
	width: 80px;
	border-radius: 50px;
}

.nav-list-item:hover{
	background-color: var(--mintgreen);
	transition: .3s;
}


.navbar-btn-cart{
	position: absolute;
	right: 2.5rem;
}

/* HIDDEN MENU MOBILE */

.hidden-container.shown{
	position: fixed;
    top: 5.625rem;
    left: 0;
    width: 100%;
    height: calc(100% - 5.625rem);
    background-color: #10101066;
    z-index: 2;
    overflow: auto;
	transition: 0.3s;
}


.navbar-mobile-menu{
	width: 100%;
    background-color: var(--blue);
    padding: 0 1.5rem .8rem 1.5rem;
	transition: 0.8s;
}

.nav-list-mobile{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	
	gap: .5rem;
}

.nav-list-mobile li{
	list-style: none;
	font-size: 1.8rem;
}


/* MENU DEL HIDDEN CART */

.background-container{
	display: none;
}

.background-container.shown{
	padding: 1.5rem;
	display: flex;
	justify-content: center;
}

.shopping-cart-wrapper{
	width: 100%;
	max-width: 69.375rem;
	display: flex;
}

.shopping-cart-container{
	width: 100%;
	max-width: 23.5625rem;
	height: 30.5rem;
	border-radius: 0.5rem;
	background-color: var(--white);
	margin-left: auto;
	padding: 2rem 1.75rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.cart{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.cart-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart-list-size{
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
}

.remove-btn{
	color: var(--gray);
	text-decoration: underline;
	font-weight: 500;
	font-size: .9375rem;
}

.cart-list{
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	height: 15rem;
	overflow: auto;
}

.empty-text{
	margin: auto;
	font-weight: 700;
	color: var(--gray);
}


/* ITEMS DENTRO DE CART

.cart-list-item{
	height: 4rem;
	display: flex;
	align-items: center;
}

.product-list-image{

	height: 4rem;
	margin-right: 1rem;
}

.product-list-info{
	font-weight: 700;
}

.product-list-price{
	color: var(--gray);
}

.product-list-actions{
	margin-left: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 6rem;
	padding: 0 0.6875rem;
	height: 2rem;
	background-color: var(--lightgray);
	font-weight: 700;
}

.product-list-button{
	display: flex;
	width: 1rem;
	height: 1.125rem;
	align-items: center;
}
 */


.cart-footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.total-text{
	text-transform: uppercase;
	color: var(--gray);
}

.total-price{
	font-weight: 700;
	font-size: 1.125rem;
}

.buy-btn{
	margin-top: auto;
	justify-content: center;
}



/* HEADER */

.hero-header{
	width: 100%;
	position: relative;
	background-image: url("../images/products/newproduct.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: left 90%;
	padding-top: 2rem;
}


.header-container{
	padding: 0 5rem 0 1rem;
	left: 50%;
	width: 100%;
	max-width: 69.375rem;
	top: 5.625rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

.header-content{
	display: flex;
	flex-direction: column;
	text-align:start;
	align-items: center;
}

.hero-text-new{
	font-weight: 400;
	font-size: .875em;
	line-height: 1.195em;
	letter-spacing: .3rem;
	text-transform: uppercase;
	align-self: start;
}

.header-title{
	text-transform: uppercase;
	font-size: 2.25em;
	color: var(--white);
	text-shadow: 3px 2px 0px rgba(0,0,0,0.2);
}

.hero-paragraph{
	font-weight: 500;
	font-size: .9375em;
	line-height: 1.5625em;
	padding-right: 5rem;
	color: var(--black);
}

.btn-default{
	height: 3rem;
	display: flex;
	
	text-transform: uppercase;
	font-size: 0.8125em;
	align-items: center;
	font-weight: 700;
	padding: 0 1.875rem;
	margin-top: 1.8125rem;
	margin-bottom: 1.8125rem;
	border-radius: 1.8rem;
	background-color: var(--yellow);
	color: var(--black);

	transition: 0.3s;
}

.btn-default:hover{
	background-color: var(--mintgreen);
	color: var(--white);
}




/* MAIN */

.main-container-wrapper{
	background-color: var(--white);
	display: flex;
	justify-content: center;
	padding: 2.5rem 1.5rem 4.5rem;
}

.main-container{
	width: 100%;
	max-width: 69.375rem;
	display: flex;
	flex-direction: column;
	gap: 5rem;
}


.products-section{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .8rem;
}

.product::before{
	content: "";
	display: flex;
	align-items: center;
	width: 100%;
	height: 170px;
	background-image: url("../images/products/product-mcflurry/mc1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 0.5rem 0.5rem 0 0;
}

.product:nth-child(2)::before{
	background-image: url("../images/products/product-handarbeit/h1.jpg");
}

.product:nth-child(3)::before{
	background-image: url("../images/products/product-burgundy/b1.jpg");
}


.product{
	width: 100%;
	background-color: var(--lightgray);
	border-radius: 0.5rem;

}


.product-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 1.5rem;

	margin: 1.2rem 1rem 1.4rem;

}

.text-default{
	text-align: center;
	line-height: 1.5em;
}

.btn-main{
	margin-bottom: 0;
	margin-top: 0.5em;
	
}



/* SLOGAN SECTION */

.slogan-section{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	border-radius: 0.5rem;
	text-align: center;
}

.slogan-image{
	width: 100%;
	border-radius: .5rem;
}

.slogan-content{
	padding: 2.5rem 1rem;
}

.slogan-title{
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.slogan-title-span{
	background-color: var(--yellow);
}

.slogan-subtitle{
	margin-bottom: 1rem;
	color: var(--gray);
}

.text-slogan{
	font-size: 0.9375rem;
	text-align: justify;
}




/* FOOTER  */

footer{
	background-color: var(--blue);
	padding: 0 1.5rem 2.375rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-container{
	width: 100%;
	max-width: 69.375rem;
}

.footer-line{
	width: 6rem;
	height: 0.25rem;
	margin: 0 auto 3rem;
	background-color: var(--mintgreen);
	border: none;
}

.footer-content{
	width: 100%;
	position: relative;
}

.footer-section{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
}

.footer-logo{
	font-size: 1.8em;
}

footer .nav-list{
	display: flex;
	flex-direction: row;
	text-align: center;
	gap: 1rem;
}

.footer-text{
	margin: 2rem 0;
	font-size: .9375rem;
}

.footer-icons{
	margin-top: 3rem;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 1rem;
}



/* VERSION ESCRITORIO */

@media (min-width:540px) {

	.hero-header{
		background-position: 60% 40%;
	}

	.header-container{
		justify-content: left;
	}

	.header-content{
		display: block;
	}

	.header-btn{
		width: fit-content;
	}

	.products-section{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas: 
		"one one two two"
		". three three .";
	}

	.product-one{
		grid-area: one;
	}

	.product-two{
		grid-area: two;
	}

	.product-three{
		grid-area: three;
	}

}

@media (min-width: 768px) {
	.navbar{
		padding: 0 2.5rem;
	}

	.navbar-container{
		justify-content: center;
		height: 6rem;
	}

	.navbar-btn-menu{
		display: none;
	}
	
	.navbar-logo{
		position: absolute;
		left: 0;
	}

	.nav-list{
		display: flex;
		flex-direction: row;
		gap: 2.5rem;
	}

	
	.products-section{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas: 
		"one two three";
	}

	.slogan-section{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.footer-container{
		max-width: 69.375rem;
	}

	.footer-section{
		flex-direction: row;
		justify-content: space-between;
	}

	.footer-text{
		width: 33.75rem;
		text-align: unset;
	}

	.footer-icons{
		width: fit-content;
		position: absolute;
		margin: 0;
		bottom: 0;
		right: 0;
	}
}